<!DOCTYPE html>
<html>
  <head>
    <title>Simple Job</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
   
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <header>
        <div class="heading">
          <h1><a href="/">Simple Job </a></h1>
        </div>
        <div class="navbar">
          <ul class="nav-lists">
          <% if user_signed_in? %>
            <li><%= link_to current_user.nickname, user_path(current_user), class: "user-nickname" %></li>
            <li><%= link_to 'ログアウト',destroy_user_session_path, method: :delete, class:"logout" %></li>
            

            <% elsif company_signed_in? %>
               <li><%= link_to current_company.company_name, company_path(current_company), class: "company-company_name"%></li> 
              <li><%= link_to '掲載',new_job_path, method: :get, class: "published" %></li>
              <li><%= link_to 'ログアウト',destroy_company_session_path, method: :delete, class:"logout" %></li>

            <% else %>

            <li><%= link_to 'ユーザーログイン',new_user_session_path, class: "login" %></li>
            <li><%= link_to 'ユーザー新規登録', new_user_registration_path, class: "sign-up"%></li>
            <li><%= link_to '企業ログイン',new_company_session_path, class: "login" %></li>
            <li><%= link_to '企業新規登録', new_company_registration_path, class: "sign-up"%>
          </ul>
          <% end %>
        </div>
      </header>
    <%= yield %>
    <footer>
    
      <div>
        Copyright SimpleJob 2020.
       
    
      </div>
  
    </footer>
  </body>
</html>
